* {
  margin: 0;
  padding: 0;
  font-family: Mont;
}

html {
  scroll-behavior: smooth;
}

div {
  /*box-shadow: 1px 1px 30px var(--color3);*/
  background-color: var(--color3);
  backdrop-filter: blur(10px);
  color: var(--color5);
  position: fixed;
  padding: 1.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  transition: .5s;
  font-size: 1.8rem;
}

div a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color5);
  font-size: 1.8rem;
  transition: .5s;
}





@media (max-width: 768px) {
  div {
    justify-content: space-between;
  }
}